.BackArrow {
  box-sizing: border-box;
  width: 100%;
  border-bottom: 5px solid #ccc;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 24px 12px 32px;
  font-size: 14px;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 51px;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
  border: 0;
  background-color: inherit;

  &:focus {
    background-color: #ccc;
  }
}

.BackArrow::before {
  content: '';
  border: 8px solid transparent;
  border-right-color: inherit;
  margin-right: 10px;
  transform: translateX(-8px);
}

.BackArrow a {
  text-decoration: none;
  box-sizing: border-box;
  padding: 15px 20px 15px 20px;
  font-size: 16px;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 51px;
  align-items: center;
}

.BackArrow:hover {
  background-color: #eaeded;
}

.BackArrow a.active {
  background-color: #ccc;
}

.BackArrow svg {
  color: inherit;
}

.BackArrow:hover svg {
  color: inherit;
}

@media (min-width: 500px) {
  .BackArrow a {
    padding: 13px 20px 13px 36px;
  }
}
