.NavItem {
  width: 100%;
  background-color: inherit;
}

.MenuItem {
  text-decoration: none;
  font-size: 14px;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 12px 24px 12px 32px;
  min-height: 51px;
  outline: none;
  border: 0;
  background-color: inherit;
  width: 100%;
  text-align: left;
  cursor: pointer;

  &.RightArrow::after {
    content: '';
    border: 8px solid transparent;
    border-left-color: inherit;
    transform: translateX(8px);
  }

  &:focus {
    background-color: #ccc;
  }
}

.NavItem svg {
  color: inherit;
}

.NavItem i {
  color: #879596;
}

.MenuItem.active {
  background-color: #ccc;
}

.NavItem:hover svg {
  color: inherit;
}

.NavItem:hover i {
  color: #111;
}
